node_modules
.git
.gitignore
.env
.env.*
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
.cache
.output
.vinxi
build
api
server/build
public/build
test-results
playwright-report
blob-report
playwright/.cache